/*==========================================
             Import Web Fonts
==========================================*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,400i,600,600i|Nunito+Sans:300,300i,400,400i');

/* Nunito Sans */
/* 300(i) - Light (Italics) */
/* 400(i) - Regular (Italics) */

/* IBM Plex Sans */
/* 400(i) - Regular (Italics) */
/* 600(i) - Semi-Bold (Italics) */


/*==========================================
                   General
==========================================*/
:root {
    /* Color Variables */
    --darkgrey: #333333;
    --violet: #6644af;
    --skyblue: #1ec4dc;
    --indigo: #451380;
    --steelblue: #4d71bc;
    --deepskyblue: #369acd;

    scroll-behavior: smooth;
}

* {
    /* Reset box-sizing for all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes for Font Colors */
.darkgrey {color: var(--darkgrey);}
.violet {color: var(--violet);}
.skyblue {color: var(--skyblue);}
.white {color: white;}


/*==========================================
                Typography
==========================================*/
body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}

.body-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #fff;
}

.body-text-dark {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: var(--darkgrey);
}

.main-heading {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.25em;

    margin-bottom: 2rem;
    color: #fff;
}

.subheading {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    font-variant: small-caps;
    line-height: 1.15em;

    margin-bottom: 0.75rem;
}

.btn-text {
    /* Main Buttons */
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
}

.btn-text--min {
    /* Text Only Buttons */
    font-weight: 400;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: black;
}

.links {
    color: inherit;
}

.links:hover {
    color: var(--skyblue);
    transition: color 0.3s;
}

.recommendation-text {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 0.5rem;
}

.uppercase {
    text-transform: uppercase;
}

a.nav-item {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.75em;
    font-weight: 400;

    color: white;
    text-transform: capitalize;

    margin: 0.5em;
}

a.nav-item:hover {
    color: var(--skyblue);
    letter-spacing: 0.1em;
    font-weight: 600;

    transition: letter-spacing 0.75s;
}

#recommend-name {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.25em;
    text-transform: uppercase;

    margin-bottom: 2rem;
    color: #fff;
}

/*==========================================
              Hamburger Menu
==========================================*/
#hamburger-icon {
    display: inline-block;
    cursor: pointer;

    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.menu-line {
    width: 30px;
    height: 3.5px;

    background-color: white;
    border-radius: 5px;

    margin-bottom: 6px;
    transition: 0.5s;
}

.menu-active #line1 {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.menu-active #line2 {
    opacity: 0;
}

.menu-active #line3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* =============================================== */
#menu-nav {
    /* Displayed via JS through toggle */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 1;

    width: 100%;
    height: 100vh;

    background-color: rgba(51, 51, 51, 0.97);

    transition: opacity 0.65s;
}

.nav-item {
    display: block;
    margin-bottom: 5px;
}


/*==========================================
                  Buttons
==========================================*/
.btn {
    width: 13rem;
    height: 3rem;

    border-radius: 10rem;
    border: 0;

    background-color: var(--skyblue);

    margin-bottom: 1rem;
}

.btn:hover {
    border: 2px solid;
    border-radius: 10rem;
    border-color: var(--skyblue);

    background-color: transparent;
    transition: background-color 0.6s, border-color 0.6s;
}

.btn-min {
    width: 13rem;
    height: 2.5rem;

    border: 0;
    background-color: transparent;
}

.btn-min:hover {
    color: var(--skyblue);
    transition: color 0.3s;
}

.btn-section {
    display: flex;
    flex-direction: column;

    text-align: center;
    margin: 2.5rem 0;
}

#arrow-up {
    /* Back To Top - Button */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 2.5em;
}

/*==========================================
                Background
==========================================*/
body {
    background-color: var(--darkgrey); /* Fallback color */
    background: linear-gradient(-45deg, #2f86b1, #2d0c52, #2f86b1);
    background-size: 400% 400%;
    animation: bg-gradient 20s ease infinite;
}

@keyframes bg-gradient {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

@keyframes bubbles-animation {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.4;
        border-radius: 0;
    }

    75% {
        border-radius: 50%;
        opacity: 0;
    }

    100% {
        transform: translateY(-1200px) rotate(720deg);
    }
}

#bubbles-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubbles li {
    position: absolute;
    display: block;
    list-style: none;
    z-index: -1;

    width: 20px;
    height: 20px;

    background: rgba(255, 255, 255, 0.2);
    bottom: -150px;

    animation: bubbles-animation 25s linear infinite;
}

.bubbles li:nth-child(1){
    left: 80%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
}

.bubbles li:nth-child(2){
    left: 5%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 15s;
}

.bubbles li:nth-child(3){
    left: 8%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.bubbles li:nth-child(4){
    left: 35%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.bubbles li:nth-child(5){
    left: 65%;
    width: 35px;
    height: 35px;
    animation-delay: 1s;
}

.bubbles li:nth-child(6){
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 15s;
}

.bubbles li:nth-child(7){
    left: 35%;
    width: 30px;
    height: 30px;
    animation-delay: 7s;
}

.bubbles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
    animation-duration: 15s;
}

.bubbles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 3s;
    animation-duration: 30s;
}

.bubbles li:nth-child(10){
    left: 85%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 30s;
}

/*==========================================
               Page Wrapper
==========================================*/
/* Apply class to <div> */
.partial-wrapper {
    display: flex;
    flex-direction: column;

    width: 85%;
    margin: 0 auto;
}

.full-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    width: 100%;
    margin: 0 auto;
}

/*==========================================
               Header - Logo
==========================================*/
#logo-container {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}

#logo {
    width: 15rem;
}

/*==========================================
                Intro Section
==========================================*/
#intro-section {
    justify-content: center;
    height: 100vh;
}

#intro-section .body-text {
    text-align: center;
}

/*==========================================
                About Section
==========================================*/
#about-section {
    background: white;
}

#about-section .partial-wrapper {
    justify-content: center;
    height: 100vh;
    text-align: center;
}

#about-section .main-heading {
    color: var(--darkgrey);
}

#about-section .subheading {
    text-align: center;
    margin: 1.5rem 0;
}

#alky-icon {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

/*==========================================
              Tutorial Section
==========================================*/
#tutorial-section {
    text-align: center;
}

#tutorial-section .partial-wrapper{
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tutorial-image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 15rem;
    max-height: 50vh;
}

#tutorial-image {
    width: 100%;
}

#next-btn, #prev-btn {
    width: 3em;
    height: 3em;

    position: relative;
    bottom: 10rem;

    border: none;
    border-radius: 50%;

    color: white;
    background: none;

    margin: 0 1rem;
}

#next-btn:hover, #prev-btn:hover {
    background: white;
}

#next-btn {
    left: 8em;
}

#prev-btn {
    right: 8em;
}


/*==========================================
                MEDIA QUERIES
==========================================*/
/* For screen sizes between 800px and 1280px - TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-heading {
        font-size: 2.5em;
    }

    .body-text,
    .body-text-dark {
        font-size: 1.35em;
        width: 75%;
        margin: 0 auto;
    }

    #about-section .subheading {
        font-size: 2em;
        width: 75%;
        margin: 1.5rem auto;
    }

    #tutorial-section .subheading {
        font-size: 2em;
    }

    .tutorial-image-box {
        width: 30rem;
    }

    #next-btn, #prev-btn {
        width: 4em;
        height: 4em;
    }

    #next-btn {
        left: 13em;
    }

    #prev-btn {
        right: 13em;
    }
}