/******************************************
             Import Web Fonts
*******************************************/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,400i,600,600i|Nunito+Sans:300,300i,400,400i');

/* Nunito Sans */
/* 300(i) - Light (Italics) */
/* 400(i) - Regular (Italics) */

/* IBM Plex Sans */
/* 400(i) - Regular (Italics) */
/* 600(i) - Semi-Bold (Italics) */


/******************************************
                   General
*******************************************/
:root {
    /* Color Variables */
    --darkgrey: #333333;
    --violet: #6644af;
    --skyblue: #1ec4dc;
    --indigo: #451380;
    --steelblue: #4d71bc;
    --deepskyblue: #369acd;

    scroll-behavior: smooth;
}

* {
    /* Reset box-sizing for all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes for Font Colors */
.darkgrey {color: var(--darkgrey);}
.violet {color: var(--violet);}
.skyblue {color: var(--skyblue);}
.white {color: white;}


/******************************************
                Typography
*******************************************/
body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}

.body-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #fff;
}

.body-text-dark {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: var(--darkgrey);
}

.main-heading {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.25em;

    margin-bottom: 2rem;
    color: #fff;
}

.subheading {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    font-variant: small-caps;
    line-height: 1.15em;

    margin-bottom: 0.75rem;
}

.btn-text {
    /* Main Buttons */
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
}

.btn-text--min {
    /* Text Only Buttons */
    font-weight: 400;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: black;
}

.links {
    color: inherit;
}

.links:hover {
    color: var(--skyblue);
    transition: color 0.3s;
}

.recommendation-text {
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 0.5rem;
}

.uppercase {
    text-transform: uppercase;
}

a.nav-item {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.75em;
    font-weight: 400;

    color: white;
    text-transform: capitalize;

    margin: 0.5em;
}

a.nav-item:hover {
    color: var(--skyblue);
    letter-spacing: 0.1em;
    font-weight: 600;

    transition: letter-spacing 0.75s;
}

#recommend-name {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.25em;
    text-transform: uppercase;

    margin-bottom: 2rem;
    color: #fff;
}


/******************************************
              Hamburger Menu
*******************************************/
#hamburger-icon {
    display: inline-block;
    cursor: pointer;

    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
}

.menu-line {
    width: 30px;
    height: 3.5px;

    background-color: white;
    border-radius: 5px;

    margin-bottom: 6px;
    transition: 0.5s;
}

.menu-active #line1 {
    transform: rotate(-45deg) translate(-6px, 5px);
}

.menu-active #line2 {
    opacity: 0;
}

.menu-active #line3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* =============================================== */
#menu-nav {
    /* Displayed via JS through toggle */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 1;

    width: 100%;
    height: 100vh;

    background-color: rgba(51, 51, 51, 0.97);

    transition: opacity 0.65s;
}

.nav-item {
    display: block;
    margin-bottom: 5px;
}


/******************************************
                  Buttons
*******************************************/
.btn {
    width: 13rem;
    height: 3rem;

    border-radius: 10rem;
    border: 0;

    background-color: var(--skyblue);

    margin-bottom: 3%;
}

.btn:hover {
    border: 2px solid;
    border-radius: 10rem;
    border-color: var(--skyblue);

    background-color: transparent;
    transition: background-color 0.6s, border-color 0.6s;
}

.btn-min {
    width: 13rem;
    height: 2.5rem;

    border: 0;
    background-color: transparent;
}

.btn-min:hover {
    color: var(--skyblue);
    transition: color 0.3s;
}


/******************************************
                Background
*******************************************/
body {
    background-color: var(--darkgrey); /* Fallback color */
    background: linear-gradient(-45deg, #2f86b1, #2d0c52, #2f86b1);
    background-size: 400% 400%;
    animation: bg-gradient 20s ease infinite;
}

@keyframes bg-gradient {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

@keyframes bubbles-animation {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.4;
        border-radius: 0;
    }

    75% {
        border-radius: 50%;
        opacity: 0;
    }

    100% {
        transform: translateY(-1200px) rotate(720deg);
    }
}

#bubbles-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubbles li {
    position: absolute;
    display: block;
    list-style: none;
    z-index: -1;

    width: 20px;
    height: 20px;

    background: rgba(255, 255, 255, 0.2);
    bottom: -150px;

    animation: bubbles-animation 25s linear infinite;
}

.bubbles li:nth-child(1){
    left: 80%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
}

.bubbles li:nth-child(2){
    left: 5%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 15s;
}

.bubbles li:nth-child(3){
    left: 8%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.bubbles li:nth-child(4){
    left: 35%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.bubbles li:nth-child(5){
    left: 65%;
    width: 35px;
    height: 35px;
    animation-delay: 1s;
}

.bubbles li:nth-child(6){
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 15s;
}

.bubbles li:nth-child(7){
    left: 35%;
    width: 30px;
    height: 30px;
    animation-delay: 7s;
}

.bubbles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
    animation-duration: 15s;
}

.bubbles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 3s;
    animation-duration: 30s;
}

.bubbles li:nth-child(10){
    left: 85%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 30s;
}

/******************************************
               Page Wrapper
*******************************************/
/* Apply class to <div> */
.partial-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    width: 85%;
    height: 68vh;

    margin: 0 auto;
}

.full-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    width: 100%;
    height: 68vh;

    margin: 0 auto;
}


/******************************************
               Header - Logo
*******************************************/
#logo-container {
    width: 100%;

    text-align: center;
    margin: 0 auto;
    padding: 10vh 0;
}

#logo {
    width: 15rem;
}


/******************************************
               Start Page (1)
*******************************************/
#name-section {
    text-align: center;
    font-size: 1.25em;
}

#name-input {
    width: 18rem;
    height: 2.5rem;

    border-radius: 10rem;
    border: 0;

    text-align: center;
    margin-top: 0.75rem;
}

.btn-section {
    text-align: center;
    margin-bottom: 1.5rem;
}


/******************************************
              Players Page (2)
*******************************************/
#players-section {
    text-align: center;
}

.icons-big {
    width: 90%;
}

.icons-big:hover {
    position: relative;
    bottom: 5px;
}


/******************************************
      Mood Page (3a) // Events Page (3b)
*******************************************/
.icon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 1.5rem;
}

.icons {
    width: 40%;
    margin-bottom: 1rem;
}

.icons:hover {
    position: relative;
    bottom: 5px;
}


/******************************************
              Strength Page (4)
*******************************************/
#strength-section {
    text-align: center;
}

.strength-icon {
    width: 90%;
    margin-bottom: 0.75rem;
}

.strength-icon:hover {
    position: relative;
    bottom: 5px;
}


/******************************************
        Drink Recommendation Page (5)
*******************************************/
.drink-info {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

#drink-section {
    margin-bottom: 3rem;
}


/******************************************
           Drink Recipe Page (6)
*******************************************/
#drink-header {
    width: 100%;
    height: 25rem;

    background-position: center;
    background-size: cover;
    background-image: url(../img/classic-martini.jpg);
}

#recommend-name {
    width: 85%;
    margin: 2rem auto;
}

#recipe-intro {
    display: flex;
    flex-direction: column;

    width: 85%;
    margin: 0 auto;
}

#drink-intro {
    margin-bottom: 2rem;
    text-align: center;
}

#ingredients-section {
    color: var(--darkgrey);
    background-color: #fff;
    padding: 2rem 0;
}

#ingredients-width {
    width: 65%;
    text-align: center;
    margin: 0 auto;
}

#ingredients-list li {
    list-style: none;
    text-align: left;
    margin-bottom: 0.25rem;
}

#ingredients-list li:before {
    color: var(--skyblue);
    content: "\2022"; /* Bullet unicode */
    margin-left: -1.25rem;
    margin-right: 1rem;
}

#instructions-section {
    color: var(--darkgrey);
    width: 75%;

    margin: 0 auto;
    padding: 2rem 0;
}

#instructions-list li::before {
    width: 1em;
    content: counter(li);
    color: var(--skyblue);
    font-weight: bold;

    margin-left: -1.25rem;
    margin-right: 0.5rem;
}


#instructions-list li {
    list-style: none;
    counter-increment: li;
    margin-bottom: 0.75rem;
}


/* @keyframes popup {
  0% {
    transform: translateY(150px);
  }
  34% {
    transform: translateY(20px);
  }
  37% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(150px);
  }
} */

/* #animation-icon {
    transform: translateY(150px);
    animation: popup 6s 4s ease infinite;
}

img.cls-1 {
    display: none;
} */

#arrow-up {
    /* Back To Top - Button */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 2.5em;
}

/******************************************
           Starting Point / For JS
*******************************************/
/* Display will be defined in JS */
/* Start with nothing */
#start-page,
#players-page,
#mood-page,
#events-page,
#strength-page,
#recommend-page,
#recipe-page {
    display: none;
}

/* When a button is selected - White glow will appear */
.active-icon {
    border-radius: 0.8em;
    box-shadow: 0 0 8px white;
    transition: box-shadow 0.3s;
}