body {
    /* TEMPORARY BG */
    background-color: var(--darkgrey);

    /* Input BG image when ready */
}

/******************************************
                Header - Logo
*******************************************/
#logo-container {
    width: 100%;

    text-align: center;
    margin: 0 auto;
    padding: 10vh 0;
    /* background-color: lightcoral; */
}

#logo {
    width: 8rem;
    /* border: 2px solid red; */
}


/******************************************
              Main - Content
*******************************************/
#page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    width: 85%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

#btn-section {
    text-align: center;
    margin-bottom: 1.5rem;
}

#players-section {
    margin-bottom: 2rem;
}

#Single-Player_Icon {
    margin-bottom: 0.5rem;
}

.icons:hover {
    position: relative;
    bottom: 5px;
}