/******************************************
                Background
*******************************************/
body {
    background-color: var(--darkgrey); /* Fallback color */
    background: linear-gradient(-45deg, #2f86b1, #2d0c52, #2f86b1);
    background-size: 400% 400%;
    animation: bg-gradient 20s ease infinite;
}

@keyframes bg-gradient {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.4;
        border-radius: 0;
    }

    75% {
        border-radius: 50%;
        opacity: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
    }
}

#bubbles-container {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bubbles li {
    position: absolute;
    display: block;
    list-style: none;
    z-index: -1;

    width: 20px;
    height: 20px;

    background: rgba(255, 255, 255, 0.2);
    bottom: -150px;

    animation: animate 25s linear infinite;
}

.bubbles li:nth-child(1){
    left: 80%;
    width: 70px;
    height: 70px;
    animation-delay: 3s;
}

.bubbles li:nth-child(2){
    left: 5%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 15s;
}

.bubbles li:nth-child(3){
    left: 8%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
}

.bubbles li:nth-child(4){
    left: 35%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.bubbles li:nth-child(5){
    left: 65%;
    width: 35px;
    height: 35px;
    animation-delay: 1s;
}

.bubbles li:nth-child(6){
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 15s;
}

.bubbles li:nth-child(7){
    left: 35%;
    width: 30px;
    height: 30px;
    animation-delay: 7s;
}

.bubbles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 5s;
    animation-duration: 15s;
}

.bubbles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 3s;
    animation-duration: 30s;
}

.bubbles li:nth-child(10){
    left: 85%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 30s;
}

/******************************************
                Header - Logo
*******************************************/
#logo-container {
    width: 100%;

    text-align: center;
    margin: 0 auto;
    padding: 10vh 0;
    /* background-color: lightcoral; */
}

#logo {
    width: 15rem;
    /* border: 2px solid red; */
}


/******************************************
              Main - Content
*******************************************/
#page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

    width: 85%;
    height: 68vh;
    margin: 0 auto;
    /* border: 2px solid red; */
}

#name-section {
    text-align: center;
    font-size: 1.25em;
}

#name-input {
    width: 18rem;
    height: 2.5rem;

    border-radius: 10rem;
    border: 0;

    text-align: center;
    margin-top: 0.75rem;
}

#btn-section {
    text-align: center;
    margin-bottom: 1.5rem;
    /* width: 100%; */
    /* border: 2px solid lightgreen; */
}