
/******************************************
             Import Web Fonts
*******************************************/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,400i,600,600i|Nunito+Sans:300,300i,400,400i');

/* Nunito Sans */
/* 300(i) - Light (Italics) */
/* 400(i) - Regular (Italics) */

/* IBM Plex Sans */
/* 400(i) - Regular (Italics) */
/* 600(i) - Semi-Bold (Italics) */


/******************************************
                   General
*******************************************/
:root {
    /* Color Variables */
    --darkgrey: #333333;
    --violet: #6644af;
    --skyblue: #1ec4dc;
    --indigo: #451380;
    --steelblue: #4d71bc;
    --deepskyblue: #369acd;
}

* {
    /* Reset box-sizing for all elements */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes for Font Colors */
.darkgrey {color: var(--darkgrey);}
.violet {color: var(--violet);}
.skyblue {color: var(--skyblue);}
.white {color: white;}


/******************************************
                Typography
*******************************************/
body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    /* font-size: 1em; */

    /* TEST */
    /* width: 85%; */
    /* margin: 0 auto; */
    /* background-color: var(--darkgrey); */
}

.body-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
}

.main-heading {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.25em;

    margin-bottom: 2rem;
}

.subheading {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    font-variant: small-caps;
    line-height: 1.15em;

    margin-bottom: 0.75rem;
}

.btn-text {
    /* Main Buttons */
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
}

.btn-text--min {
    /* Text Only Buttons */
    font-weight: 400;
    text-transform: uppercase;

    /* TEST - CHANGE TO WHITE FINAL */
    /* color: black; */
    /* color: white; */
}

a {
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: black;
}

.links {
    color: inherit;
}

.links:hover {
    color: var(--skyblue);
    transition: color 0.3s;
}

.box-btn-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.80em;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1.15em;
    letter-spacing: 0.05rem;
    color: white;
}


/******************************************
                  Buttons
*******************************************/
.btn {
    width: 13rem;
    height: 3rem;

    border-radius: 10rem;
    border: 0;

    background-color: var(--skyblue);

    margin-bottom: 3%;
}

.btn:hover {
    /* TEST - CHANGE TO WHITE */
    /* color: var(--skyblue); */

    border: 2px solid;
    border-radius: 10rem;
    border-color: var(--skyblue);

    background-color: transparent;
    transition: background-color 0.6s, border-color 0.6s;
}

.btn-min {
    width: 13rem;
    height: 2.5rem;

    border: 0;
    background-color: transparent;
}

.btn-min:hover {
    /* TEST */
    color: var(--skyblue);
    transition: color 0.3s;
}

.box-btn {
    /* display: flex; */
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 8rem;
    height: 8rem;

    border-radius: 0.75rem;
    background-color: var(--violet);

    margin: 0.5rem;
}

.box-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 70%;
    /* border: 2px solid white; */
}

.icon {
    width: 100%;
    height: 75%;
    margin-bottom: 0.5rem;
}